{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum numquam consectetur corporis labore laboriosam harum quia sapiente nisi neque iste dignissimos modi, aperiam possimus dolorum ad! Ad, optio! Libero, delectus.</p>
    </div>
    <div class="col-4">
        {{!-- <img src="{{ img }}" alt="" class="img-thumbnail"> --}}
        <img src="assets/img/Capture001.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}